@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
body {
    font-family: Michroma,serif;
    background: linear-gradient(90deg, #1e00ff 0%, #050505 100%);
}
.card  { 
    background: linear-gradient(160deg, #1e00ff 0%, #9ff1ff 100%);
    font-style: Michroma;
   
}
.card-text>p {
    padding: 5px;
  
}

.card {
    display: grid;
    margin: auto;
}
.card-textD {
    padding: 1em;
    font-size: 17px;
 
    
    background: linear-gradient(160deg, #1e00ff 0%, #9ff1ff 100%);;
}
.card-textDS {
    padding: 1em;
    font-size: 17px;

  
    
    background: linear-gradient(160deg, #1e00ff 0%, #9ff1ff 100%);;
}
